
@media screen and (min-width: 768px){

    main{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 2rem
    }

    .testimonial:nth-child(1){
      grid-area: 1 / 1 / 2 / 3;

    }
    
    .testimonial:nth-child(2){
      grid-area: 2 / 1 / 3 / 2;
    }
    
    .testimonial:nth-child(3){
      grid-area: 3 / 1 / 4 / 2;
    }
    
    .testimonial:nth-child(4){
      grid-area: 4 / 1 / 5 / 3;
    }
    
    .testimonial:nth-child(5){
      grid-area: 2 / 2 / 4 / 3;
    }
}


  @media screen and (min-width: 998px) {
    main{
      display: grid;
      grid-template-columns: repeat(4, 1fr);grid-template-rows: repeat(2, 1fr);
      grid-gap: 2.5rem;
      padding: 0rem;
      max-width: 1200px;
    }    

    .testimonial{
      margin: 0rem;
    }

    h2{
      max-width: fit-content;
    }

    .review{
      margin-top: 2rem;
    }

    .testimonial:nth-child(1){
      grid-area: 1 / 1 / 2 / 3;
      background-size: 20%;
      background-position-x: 80%;
    }
    
    .testimonial:nth-child(2){
      grid-area: 1 / 3 / 2 / 4;
    }
    
    .testimonial:nth-child(3){
      grid-area: 2 / 1 / 3 / 2;
    }
    
    .testimonial:nth-child(4){
      grid-area: 2 / 2 / 3 / 4;
    }
    
    .testimonial:nth-child(5){
      grid-area: 1 / 4 / 3 / 5;
    }
  }