@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    font-size: 62.5%;
    --violet: hsl(263, 55%, 52%);
    --darkGrayishBlue: hsl(217, 19%, 35%);
    --darkBlackishBlue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(0, 0%, 81%);
    --lightGrayishBlue: hsl(210, 46%, 95%); 

    --barlow: "Barlow Semi Condensed", sans-serif;
    --fontBody: 1.3rem;
    --w5: 500;
    --w6: 600;
}

*{
    margin: 0em;
    padding: 0em;
}




.attribution {
    font-size: 1.1rem;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }